<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>109</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>108</string>
					<key>Timestamp</key>
					<string>763497207.573899</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>iCriedTodayDesign/Views/StatisticsView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        //при нажатии на эмодзи другие эмодзи не должны обнуляться, пофиксить
</string>
				<key>leading</key>
				<string>    
    private var emojiStats: some View {
</string>
				<key>trailing</key>
				<string>        let stats = dataManager.emojiStatistics(for: selectedYear, emojiId: selectedEmojiId)
        
        return ScrollView(.horizontal, showsIndicators: false) {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>33</string>
					<key>EndingLineNumber</key>
					<string>10</string>
					<key>StartingColumnNumber</key>
					<string>33</string>
					<key>StartingLineNumber</key>
					<string>10</string>
					<key>Timestamp</key>
					<string>763497053.577675</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>iCriedTodayDesign/Views/AddTearView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>            selectedDate: Date(),
            selectedEmojiId: dataManager.emojiIntensities[0].id, 
            selectedTagId: dataMa</string>
				<key>trailing</key>
				<string>nager.tags[0].id, //не должен выбираться первый хештег, пофиксить
            note: "",
            title: "Новая запись",
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>69</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>68</string>
					<key>Timestamp</key>
					<string>763497222.213086</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>iCriedTodayDesign/Views/TagManagementView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            //при удалении хештега записи присваивается другой хештег, пофиксить
</string>
				<key>leading</key>
				<string>            }
        } message: {
</string>
				<key>trailing</key>
				<string>            if let tag = tagToDelete {
                Text("Тег \(tag.name) будет удален из всех записей")
            }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
